<style>
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
    display: flex;
    align-items: center;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
  }
</style>

<div class="banner"></div>
<div class="content">
  <mat-card>
    <mat-icon class="login-icon">account_circle</mat-icon>
    <mat-card-header>
      <mat-card-title class="login-tile">Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-card-content>
        <mat-form-field appearance="outline" class="login-field">
            <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" type="text" class="form-control">
        </mat-form-field>
        <div *ngIf="f.email.touched && f.email.invalid" class="alert-danger">
          <div *ngIf="f.email.errors && f.email.errors.required">Email is required.</div>
          <div *ngIf="f.email.errors && f.email.errors.email">Please, enter valid email address.</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Primary</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

