<div class="banner"></div>
<div class="content">
  <mat-card>
    <mat-icon class="login-icon">account_circle</mat-icon>
    <mat-card-header>
      <mat-card-title class="login-tile">Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="submit(form.value)" [formGroup]="form">
      <mat-card-content>
        <mat-form-field appearance="outline" class="login-field">
          <mat-label>Enter your email</mat-label>
          <input class="form-control" formControlName="email" matInput placeholder="pat@example.com" type="text">
        </mat-form-field>
        <div *ngIf="f.email.touched && f.email.invalid" class="alert-danger">
          <div *ngIf="f.email.errors && f.email.errors.required">Email is required.</div>
          <div *ngIf="f.email.errors && f.email.errors.email">Please, enter valid email address.</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button type="submit">Primary</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

